@using WorkforceManagement.Domain.Entities;
@using System.Security.Claims;
@model  IEnumerable<EmployeeModel>
@{
    ViewData["Title"] = "Index";
}

@if (!ViewBag.IsAuthenticated)
{
    <br />
    using (Html.BeginForm("Login", "Account", FormMethod.Get))
    {
        <button type="submit" class="btn btn-primary">Login Now</button>
    }
    <br />
    @using (Html.BeginForm("Registration", "Account",FormMethod.Get))
    {
        <button type="submit" class="btn btn-primary">Registration</button>
    }
}
else
{
    var user = User.Identity as ClaimsIdentity;

    <p>welcome @user.Name</p>
   @using (Html.BeginForm("Logout","Account"))
   {
        <button class="btn-warning">Logout</button>
   }
    <p>
        you can visit the authorize page, @Html.ActionLink("Login now", "Login", "Account") AuthPage
    </p>
}
