@using WorkforceManagement.VM.ViewModels;
@using System.Text;
@model  IEnumerable<SkillViewModel>
@{
    ViewData["Title"] = "Index";
    string value = "false";
    byte[] b = new byte[] { };
    var exist = Context.Session.TryGetValue("IsAuth", out b);
    value = b != null ? Encoding.ASCII.GetString(b) : value;
    bool isAuthenticated = Convert.ToBoolean(value);
    string percent = "";
}
@if (isAuthenticated)
{   
    <link rel="stylesheet" href="~/lib/bootstrap-year-calendar/css/bootstrap-year-calendar.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/sweetalert/dist/sweetalert.css">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <br />
    <button class="btn-calendar btn btn-primary">Show Calendar</button>
    <br />
    <div class="calender-div" data-provide="calendar" style="display:none"></div>
    <br />
            <input type="tel" placeholder="add new skill" id="skill" class="form-control" name="skill" size="30" />
            <br />
            <button id="skill-btn" class="btn btn-primary" value="add">Add skill</button>
            <br />
            <div id="bar"></div>
            <br />
            <button id="save-btn" class="btn btn-default">Save</button>

            @foreach (var m in Model)
            {
                if (ViewBag.CurrentUser == m.EmployeeId)
                {
                    for (int i = 0; i < m.SkillKnowledge.Length; i++)
                    {
                        if (m.SkillKnowledge[i] == '%')
                        {
                            break;
                        }
                        else
                        {
                            percent += m.SkillKnowledge[i];
                        }
                    }
                    <script>
                        $('#bar').append("<div><label  class='label label-default' style='margin:10px'>@m.SkillName</label><button style='margin:10px' data-toggle='progressbar' data-target='#@m.SkillId@m.EmployeeId'  data-value='0' class='btn btn-danger'>don't know</button><button style='margin:10px' data-toggle='progressbar' data-target='#@m.SkillId@m.EmployeeId' data-value='25' class='btn btn-warning'>basic</button><button style='margin:10px' data-toggle='progressbar' data-target='#@m.SkillId@m.EmployeeId' data-value='50' class='btn btn-info'>normal</button><button style='margin:10px' data-toggle='progressbar' data-target='#@m.SkillId@m.EmployeeId' data-value='75' class='btn btn-primary'>good</button><button data-toggle='progressbar' data-target='#@m.SkillId@m.EmployeeId' data-value='100' class='btn btn-success'>complete</button></div><div id='@m.SkillId@m.EmployeeId' class='progress'><div class='progress-bar' role='progressbar' aria-valuenow='@percent' aria-valuemin='0' aria-valuemax='100' style='width: @percent%;'><span id='sr-only' class='sr-only'>@m.SkillKnowledge</span></div></div></div>");
                    </script>
                    percent = "";
                }
            }
<script src="~/js/request.js"></script>
<script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
<script src="~/js/calendar.js"></script>
<script src="~/js/progressbar.js"></script>
<script src="~/lib/bootstrap-year-calendar/js/bootstrap-year-calendar.js"></script>
}
else
{
<h2>Please log in</h2>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.js">
</head>
<body>
    <div class="container">
        <h2>Users</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>email</th>
                    <th>password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>admin@gmail.com</td>
                    <td>8888</td>
                </tr>
                <tr>
                    <td>user@gmail.com</td>
                    <td>1111</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
}