@using WorkforceManagement.DTO.Models;
@using System.Text;
@model  IEnumerable<EmployeeDto>
@{
    string value = "false";
    byte[] b = new byte[] { };
    var exist = Context.Session.TryGetValue("IsAuth", out b);
    value = b != null ? Encoding.ASCII.GetString(b) : value;

    bool isAuthenticated = Convert.ToBoolean(value);
}

@{
    ViewData["Title"] = "Index";
}
@if (isAuthenticated)
{
    <link rel="stylesheet" href="~/lib/bootstrap-year-calendar/css/bootstrap-year-calendar.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <br />
        <button class="btn">Show Calendar</button>
        <br />
        <div class="calender-div" data-provide="calendar" style="display:none"></div>

        <script>
            $(".btn").click(function () {
                var lable = $(".btn").text().trim();

                if (lable == "Hide Calendar") {
                    $(".btn").text("Show Calendar");
                    $(".calender-div").hide();
                }
                else {
                    $(".btn").text("Hide Calendar");
                    $(".calender-div").show();
                }
            });
        </script>

        <script src="~/lib/bootstrap-year-calendar/js/bootstrap-year-calendar.js"></script>
}
else
{
    <h2>Please log in</h2>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.js">
    </head>
    <body>
        <div class="container">
            <h2>Users</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>email</th>
                        <th>password</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>admin@gmail.com</td>
                        <td>8888</td>
                    </tr>
                    <tr>
                        <td>user@gmail.com</td>
                        <td>1111</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
}