@using WorkforceManagement.DTO.Models;
@using System.Text;
@model  IEnumerable<EmployeeDto>
@{ 
    byte[] b = new byte[] { };
    var exist = Context.Session.TryGetValue("IsAuth", out b);
    string value = Encoding.ASCII.GetString(b);
    bool isAuthenticated = Convert.ToBoolean(value);
}

@{
    ViewData["Title"] = "Index";
}
@if (isAuthenticated)
{
    <p>you logged!!</p>
}
else
{
    <p>Please log In</p>
}