@using WorkforceManagement.Domain.Entities;
@using System.Security.Claims;
@model  IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

@if (!ViewBag.IsAuthenticated)
{
    using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <button type="submit" class="btn btn-primary">Login Now</button>
    }
    @using (Html.BeginForm("Registration", "Account"))
    {
        <button type="submit" class="btn btn-primary">Registration</button>
    }
}
else
{
    var user = User.Identity as ClaimsIdentity;

    <p>welcome @user.Name, <a href="/Account/Logout">Logout</a></p>
    <p>
       you can visit the authorize page, @Html.ActionLink("Login now", "Login", "Account") AuthPage
    </p>
}
