
@{
    ViewData["Title"] = "Registration";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <label title="Email">Email:</label>
    <br />
    <input type="email" name="email" required="required" size="30" />
    <br />
    <label title="password">Password:</label>
    <br />
    <input  type="password" name="password" required="required" size="30" />
    <br />
    <label title="Name">Name:</label>
    <br />
    <input type="text" name="name" required="required" size="30" />
    <br />
    <label title="Lastname">LastName:</label>
    <br />
    <input type="text" name="lastname" required="required" size="30" />
    <br />
    <label title="Birth">Birth:</label>
    <br />
    <input type="date" name="Birth" required="required" size="30" />
    <br />
    <label title="Profession">Profession:</label>
    <br />
    <select required="required">
        <option>Programmer</option>
        <option>HR manager</option>
        <option>IT systems administrator</option>
        <option>IT Support Manager</option>
    </select>
    <button type="submit" class="btn btn-success" value="submit">Create</button>
}

